<!DOCTYPE html>
<html>
  <head>
    <title>Comb</title>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">

        <!-- Stylesheets -->

    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="fonts/stylesheet.css">
    <link rel="stylesheet" href="stylesheets/normalize.css">


        <!-- Libraries -->
    <!-- // <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script> -->
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&v=3&libraries=geometry"></script>
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/infobox/src/infobox.js"></script>
    <script type="text/javascript" src='javascripts/libraries/jquery.js'></script>
    <script type="text/javascript" src='javascripts/libraries/underscore.js'></script>
    <script type="text/javascript" src='javascripts/libraries/backbone.js'></script>

        <!-- Templates -->

        <script type="text/template" id="logInTemplate">
            <div class="welcome-block">
                <div class="section group">
                    <div class='col span_2_of_12'>
                    </div>
                    <div class='col span_8_of_12 feature'>
                        <form class="login-form">
                            <input class="top-email" name="email" type="email" placeholder='your email'>
                            <input class="bottom-pw" name="password" type="password" placeholder='password'>
                            <input name="submit" type="submit" value="login">
                        </form>
                        <a href="#/sign_up" class='signup-link'>New Here? Sign Up!</a>
                    </div>
                    <div class='col span_2_of_12'>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="signUpTemplate">
            <div class="welcome-block">
                <div class="section group">
                    <div class='col span_2_of_12'>
                    </div>
                    <div class='col span_8_of_12 feature'>
                        <form class="signup-form">
                            <input class="top-email" name="email" type="email" placeholder='your email'>
                            <input name="password" type="password" placeholder='password'>
                            <input class="bottom-pw" name="password_confirmation" type="password" placeholder='password confirmation'>
                            <input name="submit" type="submit" value="Sign Up">
                        </form>
                    <a href="#" class='login-link'>Log In</a>
                    </div>

                    <div class='col span_2_of_12'>
                    </div>
                </div>
            </div>
        </script>

        <script type="text/template" id="mapTemplate">
        <div class='map-holder'>
            <div id="map-canvas"></div>
        </div>
        <div class="main-pin-list"><div class="main-pin-list-close-div"><h2 class="main-pin-list-close-button">X</h2></div><ul class="main-pin-list-ul"></ul><div>
        </script>

        <script type="text/template" id="singleMapItemTemplate">
            <div class="map_list_container">
                <h2 class="map_name"><%= name %></h2>
                <button class="edit_map_name">edit</button>
                <button class="delete_map" data-id=<%= id %> data-action="destroy" name="delete_map">X</button>
                <button>Share</button>
            </div>
        </script>

        <script type="text/template" class="singlePinItemTemplate">
            <div class="pin_list_container">
                <h2 class="pin_name"><%= name %></h2>
                <button class="edit_map_name">edit</button>
                <button class="delete_map" data-id=<%= id %> data-action="destroy" name="delete_map">X</button>
                <button>Share</button>
            </div>
        </script>

        <!-- Map Create Template -->

        <script type="text/template" id="map_create_template">
            <div class="welcome-block">
                <form class="map_create_form">
                    <input class="standard-input" name="map_name" type="text" placeholder='MAP NAME'>
                    <input class= 'create-map-button' name="submit" type="submit" value="submit">
                </form>
            </div>
        </script>

        <!-- Single Map View -->

        <script type="text/template" id="singleMapTemplate">
            <div class="single-map-name"><h2><%= name %></h2></div>
            <div class='map-holder'>
                <div class="map_display_canvas"></div>
            </div>
            <div class="map-pin-list"><div class="map-pin-list-close"><h2>X</h2></div><ul class="pin-list-ul"></ul><div>
        </script>

        <!-- App -->
    <script type="text/javascript" src='javascripts/backbone/app.js'></script>

        <!-- Models -->
    <script type="text/javascript" src='javascripts/backbone/models/Map.js'></script>
    <script type="text/javascript" src='javascripts/backbone/models/Pin.js'></script>

    <!-- Collections -->
    <script type="text/javascript" src='javascripts/backbone/collections/MapCollection.js'></script>
    <script type="text/javascript" src='javascripts/backbone/collections/PinCollection.js'></script>

    <!-- Views -->
    <script type="text/javascript" src='javascripts/backbone/views/maps/MapView.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/maps/MapListView.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/pins/PinView.js'></script>
    <script type="text/javascript" src='javascripts/backbone/views/pins/PinListView.js'></script>

  </head>

  <body>
    <div class='container'>
        <div class="menu">
            <div class="section group">
                <div class="col span_1_of_12">
                    <div class="logo"><h2>Comb</h2></div>
                    <div class="back"><a href="#/main"><img src="images/back_button_white_48pt.svg"></a></div>
                </div>
            </div>
        </div>
        <div class="main">
        </div>
        <div class="bottom-nav">
            <div class="section group center">
                <div class="col span_4_of_12 test">
                    <div class="pin-list-button"><img src="images/pin_group_teal.svg"></div>
                </div>
                <div class="col span_4_of_12">
                    <div class="create-map"><a href="#/create_map"><img src="images/globe_teal.svg"></div>
                </div>
                <div class="col span_4_of_12">
                    <div class="map-list"><a href="#/maps"><img src="images/map_teal.svg"></a></div>
                </div>
            </div>
        </div>
    </div>

  </body>

</html>
