body {
  font-family: 'apercuregular';
  background-color: #bdc3c7;
}

*{
  box-sizing: border-box;
}

.main{
  top: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  text-align: center;
  width: 100%;
}

.welcome-block, .menu{
    margin: 1.5em;
    z-index: 3;
}
.welcome-block{
  background-color: transparent;
  /*border: 1px solid gainsboro;*/
  text-align: center;
  color: black;
}

.welcome-block {
  padding: 1em;
  margin-top: 5em;
  height: 100%;
}

.map-holder{
    z-index: 1;
    padding: 0;
    position : absolute !important;
    top : 40px !important;
    right : 0;
    bottom : 40px !important;
    left : 0 !important;
/*  text-align: center;
  padding: 0px;
  margin: 4.9em 0px 0px 0px;
  height: 100%;
  width: 100%;*/
}


.menu, .bottom-nav{
  position: fixed;
  margin: 0;
  right: 0;
  color: steelblue;
  background-color: rgb(45,55,63);
  width: 100%;
  display: block;
  z-index: 3;
  /*pointer-events:none;*/
}

.menu {
    top: 0;
    z-index: 3;
}


.menu .logo, .menu .back{
  padding-left: 1.5em;
  z-index: 3;
}

.menu .logo h2{
  font-family: 'apercubold';
  color: #1EBBA6;
  z-index: 3;
}


.bottom-nav {
    bottom: 0;
    padding: 2% 0;
}

.feature a{
  font-size: 1em;
  color: #FFF;
}

input {
border: 1px solid #dadfe1;
outline: none;
background: white;
font-weight: 500;
color: #3e474c;
line-height: 1.4em;
padding: .5em 1.1em;
display: inline-block;
margin: 0 auto;
width: 100%;
}

.top-email, .standard-input{
  -webkit-border-top-left-radius: 0.25em;
  -moz-border-top-left-radius: 0.25em;
  -ms-border-top-left-radius: 0.25em;
  -o-border-top-left-radius: 0.25em;
  border-top-left-radius: 0.25em;
  -webkit-border-top-right-radius: 0.25em;
  -moz-border-top-right-radius: 0.25em;
  -ms-border-top-right-radius: 0.25em;
  -o-border-top-right-radius: 0.25em;
  border-top-right-radius: 0.25em;
}

.bottom-pw, .standard-input{
  -webkit-border-bottom-right-radius: 0.25em;
  -moz-border-bottom-right-radius: 0.25em;
  -ms-border-bottom-right-radius: 0.25em;
  -o-border-bottom-right-radius: 0.25em;
  border-bottom-right-radius:0.25em;
  -webkit-border-bottom-left-radius: 0.25em;
  -moz-border-bottom-left-radius: 0.25em;
  -ms-border-bottom-left-radius: 0.25em;
  -o-border-bottom-left-radius: 0.25em;
  border-bottom-left-radius:0.25em;
  border-bottom-left-radius:0.25em;
}

input[type=submit] {
margin: 10px 0;
background-color: #e96e57;
color: #FFF;
border: 1px solid #e96e57;
text-transform:capitalize;
display: inline-block;
-webkit-border-radius: 0.25em;
-moz-border-radius: 0.25em;
-ms-border-radius: 0.25em;
-o-border-radius: 0.25em;
border-radius: 0.25em;
}

input[type=submit]:active{
background: #e96e57;
color: #FFF;
}

.feature{
  margin: 0px;
}

.feature a{
  float: left;
  /*text-decoration: none;*/
}

.center{
    text-align: center;
}

#map-canvas {
        height: 100%;
/*        width: 100%;*/
        margin: 0px;
        padding: 0px
}

.map_display_canvas {
 /*       height: 400px;
        width: 500px;*/
        height: 100%;
        margin: 0px;
        padding: 0px
}

.back{
  display:none;
  background-size: 5px;
}

.map_list_ul li{
  list-style: none;
  overflow: scroll;
}

.map_list_container h2{
  color: #1EBBA6;
}


@media only screen and (max-width: 480px) {
/*  #map-canvas {
        height: 400px;
        width: 400px;
        margin: 0px;
        padding: 0px
}*/

  /*  GRID OF TWELVE   ============================================================================= */

  .span_12_of_12 {
    width: 100%;
  }

  .span_11_of_12 {
    width: 91.53%;
  }

  .span_10_of_12 {
    width: 83.06%;
  }

  .span_9_of_12 {
    width: 74.6%;
  }

  .span_8_of_12 {
    width: 66.13%;
  }

  .span_7_of_12 {
    width: 57.66%;
  }

  .span_6_of_12 {
    width: 49.2%;
  }

  .span_5_of_12 {
    width: 40.73%;
  }

  .span_4_of_12 {
    width: 32.26%;
  }

  .span_3_of_12 {
    width: 23.8%;
  }

  .span_2_of_12 {
    width: 15.33%;
  }

  .span_1_of_12 {
    width: 6.86%;
  }

}



/*  SECTIONS  */
.section {
  clear: both;
  padding: 0px;
  margin: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
  content:"";
  display:table;
}
.group:after {
  clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}


/* Custom, iPhone Retina */
  @media only screen and (min-width : 320px) {

/*    #map-canvas {
        height: 400px;
        width: 330px;
        margin: 0px;
        padding: 0px
    }*/


     .span_12_of_12 {
      width: 100%;
    }

    .span_11_of_12 {
      width: 91.53%;
    }

    .span_10_of_12 {
      width: 83.06%;
    }

    .span_9_of_12 {
      width: 74.6%;
    }

    .span_8_of_12 {
      width: 66.13%;
    }

    .span_7_of_12 {
      width: 57.66%;
    }

    .span_6_of_12 {
      width: 49.2%;
    }

    .span_5_of_12 {
      width: 40.73%;
    }

    .span_4_of_12 {
      width: 32.26%;
    }

    .span_3_of_12 {
      width: 23.8%;
    }

    .span_2_of_12 {
      width: 15.33%;
    }

    .span_1_of_12 {
      width: 6.86%;
    }
  }

  /* Extra Small Devices, Phones */
  @media only screen and (min-width : 480px) {
    /*  GRID OF TWELVE   ============================================================================= */

/*    #map-canvas {
        height: 400px;
        width: 485px;
        margin: 0px;
        padding: 0px
    }*/

    .span_12_of_12 {
      width: 100%;
    }

    .span_11_of_12 {
      width: 91.53%;
    }

    .span_10_of_12 {
      width: 83.06%;
    }

    .span_9_of_12 {
      width: 74.6%;
    }

    .span_8_of_12 {
      width: 66.13%;
    }

    .span_7_of_12 {
      width: 57.66%;
    }

    .span_6_of_12 {
      width: 49.2%;
    }

    .span_5_of_12 {
      width: 40.73%;
    }

    .span_4_of_12 {
      width: 32.26%;
    }

    .span_3_of_12 {
      width: 23.8%;
    }

    .span_2_of_12 {
      width: 15.33%;
    }

    .span_1_of_12 {
      width: 6.86%;
    }
  }

  /* Small Devices, Tablets */
  @media only screen and (min-width : 768px) {
    /*  GRID OF TWELVE   ============================================================================= */
/*    #map-canvas {
        height: 700px;
        width: 700px;
        margin: 0px;
        padding: 0px
}*/
    .span_12_of_12 {
      width: 100%;
    }

    .span_11_of_12 {
      width: 91.53%;
    }

    .span_10_of_12 {
      width: 83.06%;
    }

    .span_9_of_12 {
      width: 74.6%;
    }

    .span_8_of_12 {
      width: 66.13%;
    }

    .span_7_of_12 {
      width: 57.66%;
    }

    .span_6_of_12 {
      width: 49.2%;
    }

    .span_5_of_12 {
      width: 40.73%;
    }

    .span_4_of_12 {
      width: 32.26%;
    }

    .span_3_of_12 {
      width: 23.8%;
    }

    .span_2_of_12 {
      width: 15.33%;
    }

    .span_1_of_12 {
      width: 6.86%;
    }
  }

  /* Medium Devices, Desktops */
  @media only screen and (min-width : 992px) {
/*    #map-canvas {
        height: 800px;
        width: 800px;
        margin: 0px;
        padding: 0px
}*/
      .span_12_of_12 {
      width: 100%;
    }

    .span_11_of_12 {
      width: 91.53%;
    }

    .span_10_of_12 {
      width: 83.06%;
    }

    .span_9_of_12 {
      width: 74.6%;
    }

    .span_8_of_12 {
      width: 66.13%;
    }

    .span_7_of_12 {
      width: 57.66%;
    }

    .span_6_of_12 {
      width: 49.2%;
    }

    .span_5_of_12 {
      width: 40.73%;
    }

    .span_4_of_12 {
      width: 32.26%;
    }

    .span_3_of_12 {
      width: 23.8%;
    }

    .span_2_of_12 {
      width: 15.33%;
    }

    .span_1_of_12 {
      width: 6.86%;
    }
  }
  }

  /* Large Devices, Wide Screens */
  @media only screen and (min-width : 1200px) {

  }


img {
  padding: 0;
  margin: 0;
}

.marker-info-win {
  width: 300px;
  height: auto;
  border-radius: 20px;
  text-align: center;
  border: 5px solid RGBA(30, 187, 166, .5);
  margin-top: 8px;
  background: RGBA(255, 255, 255, 1);
  color: RGBA(30, 187, 166, 1);
  font-family: 'apercuregular';
  padding: 0;
  display: visible;
}

.marker-edit {
  color: #1EBBA6;
  width: 300px;
  height: 300px;
  border-radius: 10px;
  padding: 0px 20px 0px 15px;
  text-align: center;
  margin: 0 auto;
}

.save-name {
  max-width: 150px;
}

.save-desc {
  max-width: 150px;
}

.marker-heading {
  color: #1EBBA6;
  font-size: 30px;
  margin: 2px 0px 0px 0px;
  padding: 5px 0px 0px 0px;
/*  width: 20%;
  height: 20%;
  padding: 5px;*/
}

.save-marker {
  margin: 0;
  padding: 0;
}

.remove-marker {
  margin: 0;
  padding: 0;
}

.box_text {
   width: 300px;
   height: 200px;
   border: 5px solid RGBA(30, 187, 166, .5);
   border-radius: 20px;
   margin-top: 8px;
   background: RGBA(255, 255, 255, 1);
   color: RGBA(30, 187, 166, 1);
   font-family: 'apercuregular'; padding: 0;
}

.single-map-name {
  z-index: 6;
  position: absolute;
  top: 15%;
  left: 25%;
  right: 25%;
  width: 30%;
  height: auto;
  border-radius: 50px;
  background: RGBA(255, 255, 255, .75);
  color: RGBA(30, 187, 166, 1);
  margin: 0 auto;
  text-align: center;
}

.map-list-ul {
  margin-bottom: 15%;
}

.map-pin-list {
  display: none;
  z-index: 2;
  position: absolute;
  bottom: 150px;
  left: 5%;
  /*right: 25%;*/
  width: 20%;
  min-width: 150px;
  height: 300px;
  border-radius: 25px;
  background: RGBA(255, 255, 255, .75);
  color: RGBA(30, 187, 166, 1);
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}

.pin-list-ul {
  list-style: none;
  margin-left: -20px;
}

.main-pin-list-close {
    position: fixed;
    top: auto !important;
    margin-left: 112px;
}

.map-pin-list-close {
    position: fixed;
    top: auto !important;
    margin-left: 112px;
}

.main-pin-list {
  /*display: none;*/
  z-index: 2;
  position: absolute;
  bottom: 150px;
  left: 5%;
  /*right: 25%;*/
  width: 20%;
  min-width: 150px;
  height: 300px;
  border-radius: 25px;
  background: RGBA(255, 255, 255, .75);
  color: RGBA(30, 187, 166, 1);
  margin: 0 auto;
  text-align: center;
  overflow-y: scroll;
}

.main-pin-list-ul {
  list-style: none;
  margin-left: -20px;
}
